@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body {
    background-image: url("../images/splash-background.jpeg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    background-position:fixed;
    color:white;
}

h1, h3 {
  font-family: 'Playfair Display', serif;
  font-weight:900;
  color:white;
}

a {
  color:#A9CA0A;
  font-weight: 700;
}

a:hover, a:focus {
  color:#87A208;
  text-decoration: none;
}

.container {
  background-color: rgba(0, 0, 0, 0.32);
  height:100vh;

}

.btn-custom {
  background-color: #A9CA0A;
  color:white;
  border:0;
  transition: background-color .3s;
}

.btn-custom:hover {
  color:white;
  background-color: #87A208;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  width: 100%;
}

.navbar-default .navbar-brand {
  color: white;
  font-size:20px;
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.62);
  border: 0;
  border-radius:0px;
}

.navbar-default .navbar-nav>li>a {
  color: #dbdbdb;
  transition: color .3s;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: white;
   
}

