<div class="row">

<h1 class="text-center">Show us your Songs</h1>
<hr>
<p class="text-center">A new way to share and vote for your favourite tunes</p>
<p class="text-center"><a class=" btn btn-default btn-custom" href="user/signup">Sign Up Now!</a></p>

</div>

